body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10rem;
}

.info {

    text-decoration: none;
    color: orange;
    font-size: 10rem;
}